*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 20px;
}
h1,ul,li{
    display: inline;
}
ul{
    margin-left: 70%;
}
li{
    color: grey;
    cursor: pointer;
}
li:hover{
    color: white;
}

input{
    width: 60%;
    
    padding: 15px;
}
.searchbar{
    padding:50px;
    text-align: center;
}

.box1{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width:280px;
    display: inline-block;
}

.box2{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width:278px;
    display: inline-block;
}

.box3{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width:280px;
    display: inline-block;
}
.Products{
    text-align: center;
}

.box1:hover,.box2:hover,.box3:hover{
      background-color: black;
      color: white;
}

.about{
    text-align: center;
    margin-top: 20px;
    padding: 30px;
}

.contact{
    background-color: black;
    color: white;

}
.base{
    text-align: center;
}
